* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background: #fff url("../imagens/bg.png");
	margin: 15px;
}

#container {
	min-width: 900px;
	max-width: 1180px;
	height: 750px;
	border: 1px solid red;
	margin: 10px auto;
	background: #EDE9CC;
}

#topo {
	height: 33%;
	background: #DBCD87 url("../imagens/topo-imagem-principal.png") no-repeat;
	position: relative;
}

#area-logo {
	width: 160px;
	height: 80px;
	position: absolute;
	top: 10px;
	left: 15px;
}

#area-menu {
	width: 450px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(../imagens/topo-imagem-lateral.png);
}

#area-logo h1 p {
	text-indent: -9000px;
}

#conteudo {
	height: 52%;
	border: 1px solid blue;
	margin-top: 15px;
}

#rodape {
	height: 10%;
	border: 1px solid blue;
	margin-top: 15px;
}